.info{
    padding: 2rem ;
    margin-top: 2rem;
    background: linear-gradient(rgb(247, 247, 247) , rgb(231, 230, 230) );
}

.info__div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.info__titulo{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 700;
}

.info__texto{
    line-height: normal;
    font-size: 1.1rem;
}



.mapa{
    display: none;
}

@media screen and (min-width:768px){
    .info{
        margin: auto;
        padding-top: 2rem;
        }

        .mapa{
            display: none;
        }

}

@media screen and (min-width:1024px){
    
    .info{
        padding-top: 5rem;
    }

    .info__div{
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 180px;
       
    }

    .info__imagem{
        
    }
    
  
    .info__titulo{
        font-size: 1.8rem;
        text-align: center;
    }

    .info__contato{
        background-image: url(../fotos/whatsapp_icon.png);
    }

    .info__horarios{
        
    }

    .info__localizacao{
        
    }

    .info__texto{
        text-align: center;
    }

   

    

    .mapa{
        display: flex;
        width: 100%;
        margin-top: 5rem;
        border: 1px solid red;
    }

    
    
   
}
