.atendimento{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.atendimento__titulo{
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: url(../fotos/whatsapp_icon.png);
}

.atendimento__caixa{
    display: block;
    line-height: 2rem;
    
}

.atendimento__nome{
    display: block;
    width: 100%;
    padding-bottom: 1rem;

}

.atendimento__telefone{
    display: block;
    width: 100%;
    padding-bottom: 1rem;

}

.atendimento__email{
    display: block;
    width: 100%;
    padding-bottom: 1rem;

}

.atendimento__mensagem{
    display: block;
    width: 100%;

}

.atendimento__enviar{
    
    font-family: Fire Code;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    background-color: red;
    border-radius: 5px;
    border-color: red;
    color:white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.356);
    display: flex;
    margin: 2rem auto;
    
}

.atendimento__enviar:hover{
   background-color: rgb(128, 18, 18);
    border-color: rgb(128, 18, 18);
    transform: scale(1.1);
    transition: 1s all;
}

@media screen and (min-width:1024px){
    .atendimento__titulo{
        align-content: center;
        
    }

    

    .atendimento__caixa{
        width: 50%;
       margin: 2rem auto;

    }

    .atendimento__enviar{
        display: flex;
        margin: 2rem auto;
    }

    .atendimento__nome{
        display: block;
        width: 100%;
        padding-bottom: 0.5rem;
    
    }
    
    .atendimento__telefone{
        display: block;
        width: 100%;
        padding-bottom: 0.5rem;
    
    }
    
    .atendimento__email{
        display: block;
        width: 100%;
        padding-bottom: 0.5rem;
    
    }
}



