.rodape{
    background-color: rgb(44, 43, 43);
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.rodape__imagem{
    display: flex;
    margin: auto;
    width: 100px;
    margin-bottom: 1rem;
}

.rodape__lista{
    text-align: center;
    line-height: normal;
}

.rodape a {
    color: red;
}
@media screen and (min-width: 768px){
    .rodape{
        position: relative;
    }

    .rodape__imagem{
        width: 150px;
    }

  

    .rodape__lista{
        display: flex;
         flex-direction: row;
        width: 500px;
        margin: auto;
        
}

    .rodape__item{
        align-items: center;
        margin: 0 0.5rem;
        
    }
}

@media screen and (min-width: 1024px){
    .rodape__imagem{
        width: 200px;
    }
}